
.header {
    text-align: center;
    margin-top: 20px;
    color: #444444
}

.issues-container {
    margin-left: 25px;
}

.issue-card {
    margin: 20px 0px 0px 0px;
    max-width: 45%;
    display: flex;
    flex-wrap: nowrap;
    transition: .3s;
    border: .75px solid rgba(79, 79, 79, 0.25);
    color: #444444
}

.cloudinaryContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: 156px;

}

.cloudinaryImg {
    max-width: 300px;
    border-radius: 3px;
}


.issue-card-content {
    padding: 10px 0px 0px 15px;

}

.issue-card-details {
    display: flex;
    flex-direction: row;
}

.issue-card-body {
    display: flex;
    flex-direction: column;
}

.delete-issue {
    margin: 5px;
}

.edit-issue {
    margin: 5px;
}

.accept-issue {
    margin-left: 20px;
    margin-top: 3px;
    padding: 6px 12px;
}

.issueAccept {
    display:flex;
    justify-content: right;
    margin-left: 485px;
    max-width: 45%;
}

.card-buttons {
    display: flex;
    justify-content: right;
    margin-left: 470px;
    margin-bottom: 5px;
}

textarea {
    resize: none !important;
}
