
.header {
    text-align: center;
    margin-top: 20px;
    color: #444444
}

.issues-container {
    margin-left: 25px;
    margin-top: 35px;
}

.issue-card {
    margin: 20px 0px 0px 0px;
    max-width: 52%;
    display: flex;
    flex-wrap: nowrap;
    border-top: .75px solid rgba(142, 142, 142, 0.25);
    color: #444444;
}

.cloudinaryContainer{
    display: flex;
    justify-content: flex-end;
    margin-left: 195px;
    max-width: 300px;
    max-height: 200px;
    overflow: hidden;

}

.cloudinaryImg {
    border-radius: 3px;
    max-width: 315px;
}


.issue-card-content {
    padding: 10px 0px 0px 15px;

}

.issue-card-details {
    display: flex;
    flex-direction: row;
}

.issue-card-body {
    display: flex;
    flex-direction: column;
    width: 225px;
}

.addIssue {
    margin-top: 50px;
}

.delete-issue {
    margin-left: 5px;
    margin-top: 5px;
    max-height: 38px;
}

.edit-issue {
    margin: 5px 5px;
}

.accept-issue {
    margin-left: 0px;
    margin-top: 3px;
    padding: 6px 12px;
}

.cancel-issue {
    margin-top: 5px;
}

.complete-issue {
    margin-top: 5px;
    margin-right: 5px;
}

.issueAccept {
    display:flex;
    justify-content: right;
    margin-left: 485px;
    max-width: 45%;
}

.card-buttons {
    display: flex;
    float: left;
    margin-bottom: 5px;

}

.add-comment {
    margin-top: 5px;
}

.edit-comment {
    margin-top: 5px;
    margin-right: 5px;
}

.cancel-issue {
    margin-right: 5px;
}

textarea {
    resize: none !important;
}

.preview-img {
    max-width: 100%;
}

.comment {
    max-width: 32%;
}

.add {
    max-height: 38px;
    font-size: 16px !important;
    margin: 0px 0px 0px 0px !important
}

.created-by {
    font-size: 13px;
    margin: 0px;
}