.welcome-sign {
  color: #444444;
  font-size: 22px;
}


.hope-logo {
  max-width: 2.5%;
  margin-left: 50px;
}

ul {
    font-size: 20px;
    color: #444444;
  }

  li {
    margin: 10px;
  }

nav {
    border-bottom: .75px solid rgba(142, 142, 142, 0.25);
    margin-top: 20px;

  }

.nav-link {
    color: #444444;
    transition: .2s;
}

.nav-link-home {
  color: #444444;
  text-decoration: none !important;
  transition: .2s;
  font-size: 18px !important;
  padding-bottom: 13px;
}

.nav-link-yellow {
  color: #444444;
  text-decoration: none !important;
  transition: .2s;
  font-size: 18px !important;
  padding-bottom: 13px;

}

.nav-link-blue {
  color: #444444;
  text-decoration: none !important;
  transition: .2s;
  font-size: 18px !important;
  padding-bottom: 13px;
}

.nav-link-green {
  color: #444444;
  text-decoration: none !important;
  transition: .1s;
  font-size: 18px !important;
  padding-bottom: 13px;
}

.nav-link-logout {
  color: #444444;
  text-decoration: none !important;
  transition: .2s;
  font-size: 18px !important;
  padding-bottom: 13px;
}

.nav-link-home:hover {
  border-bottom: 3px solid !important;
}

.nav-link-yellow:hover {
    color: #dfb04a !important;
    border-bottom: 3px solid #dfb04A !important;
}

.nav-link-blue:hover {
  color: #17A2B8 !important;
  border-bottom: 3px solid #17A2B8 !important;

}

.nav-link-green:hover {
  color: #28a745 !important;
  border-bottom: 3px solid #28a745 !important;

}

.nav-link-logout:hover {
  border-bottom: 3px solid !important;
}
